*{
    margin: 0;
    padding: 0 20px;
}
.container{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-gap: 10px 20px;
    background-color: bisque;
}
.grid-container{
    border: 5px solid brown;
    background-color: brown;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    width: 10px;
}
.grid-item{
    border: 5px solid chocolate;
    background-color: chocolate;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    width: 10px;
}